<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/845b7f6704.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/teacher.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet"> 

</head>
<body>
    <nav class="navbar">

       
        <div class="nav-container">
            <div class="logo">
              <a href="/teacher"> <img height="70px" width="127px" src="/images/logo.jpg" alt="logo"></a> 
        </div> 
        <div class="navlist">
            <ul>
                <li><a href="/addjournal">Add Journal</a></li>

                <li><a href="/logout">Sign Out</a></li>
            </ul>
        </div>
           

        </div>
    </nav>
    <div>
        <h2 style="text-align: center;">My Journals</h2>
    </div>

    <div class="searchres">
       <%result.forEach((data)=>{%>
        <div class="card" style="width: 22rem;">
            <img class="card-img-top" src="/<%=data.file%>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%=data.journalname%></h5>
              <p class="card-text"><%=data.journaldescription%>(<%=data.day%>-<%=data.month%>-<%=data.year%>)</p>
              <div style="display: flex;">
        <a href="/teacher/edit/<%=data.id%>" ><img width="30px" height="30px" src="/images/edit.png" alt=""></a>
        <a style="margin-left: 200px;"  href="/teacher/del/<%=data.id%>" ><img width="30px" height="30px" src="/images/delete.png" alt=""></a>

            </div>
            </div>
          </div>
       <%})%>
            
              
                 
           
              
      
   
    </div>
    </body>
    </html>
    </body>
    </html>