<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/845b7f6704.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    
  
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/addjournal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet"> 

</head>
<body>
    <nav class="navbar">

       
        <div class="nav-container">
            <div class="logo">
              <a href="/teacher"> <img height="70px" width="127px" src="/images/logo.jpg" alt="logo"></a> 
        </div> 
        <div class="navlist">
            <ul>
                <li><a href="/teacher">Home</a></li>

                <li><a href="/logout">Sign Out</a></li>
            </ul>
        </div>
           

        </div>
    </nav>
    <div style="margin-top: 30px;" class="card shadow mb-5 bg-white rounded">

        <!--Card-Body-->
        <div class="card-body">
    
            <!--Card-Title-->
            <p class="card-title text-center shadow mb-3 rounded">Add Journal</p>
     
     <div class="icons text-center">
    
    
   
    
    
     </div>
    
        <hr>
    
           <form action="/teacher/edit/<%=data.id%>" method="post" enctype="multipart/form-data">
    
            <!--First Row-->
            <div class="row">
                <div class="col-sm-6">
                <input required value="<%=data.journalname%>" type="text" class="form-control mb-4" placeholder="Journal Name" name="jname" id="">
            </div>
    
                
            <div class="col-sm-6">
                <input required type="text" value="<%=data.journaldescription%>"  class="form-control  mb-4" placeholder="Journal Description" name="jdes" id="">
            </div>
    
                
            </div>
           
           
    
            <!--Second Row-->
           
    
            <!--Third Row-->
            <div class="row">
    
                <div class="col-sm-6">
                    <select required class="browser-default custom-select mb-4" name="studenttag" id="select">
                        <option value="">Tag Student</option>
                     <%result.forEach((user)=>{%>
                        <option value="<%=user.name%>"><%=user.name%></option>
                     <%})%>
                   </select>
                </div>
                
                <div class="col-sm-6">
                    
                    <input  type="file" class="form-control  mb-4" name="file" id="file">
                </div>
                    
    
                    </div>
                   
                           
                          
                    
    
                    
                                      <div style="margin-right: 20px;">
                    <button type="submit" class="btn btn-primary float-right mt-5">Edit Journal</button>
                </div>
                
            </form>
                </div>
            </div>
    </body>
    </html>